___
# Ciência dos Dados - PROJETO 1

## Pedro Henrique Greco Lopes

___

## Perfil das crianças que nao tem mae viva

___
## Introdução

O estudo pretende analisar o perfil de crianças, de 5 a 18 anos de idade, que não tem mãe viva, para entender qual é o peso da figura da mãe em âmbitos como a escolaridade, trabalho infantil, papel em casa, se já tiveram filhos.

___
## Filtros da base de dados

In [43]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [44]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\pedro\Desktop\3 Semestre\DP-CD

In [45]:
#Se usar o arquivo descompactado
nad15 = pd.read_csv('PES2015.csv',sep=',')
nad11 = pd.read_csv('PES2011.csv',sep=',')

In [46]:
nad15 = nad15.loc[nad15.V8005<18,['V0405','V4838','V4803','V4745','V4743','V0602','V0701','V9001','V1101']]

#V8005 - Idade
#V0405 - Tem mae viva
#V4803 - Anos de estudo
#V4745 - Nível de intrução mais alto alcançado
#V0602 - Frequenta escola ou creche
#V4743 - Faixa de rend mensal per capita
#V0701 - Teve algum trabalho no último ano (de 5 a 9 anos de idade)
#V9001 - Trabalho (10 ou mais de idade)
#V1101 - Teve algum filho nascido vivo até a data de referência

In [47]:
nad11 = nad11.loc[nad11.V8005<18,['V0405','V4803','V4745','V0602','V4743','V0701','V9001','V1101']]

#V8005 - Idade
#V0405 - Tem mae viva
#V4803 - Anos de estudo
#V4745 - Nível de intrução mais alto alcançado
#V0602 - Frequenta escola ou creche
#V4743 - Faixa de rend mensal per capita
#V0701 - Teve algum trabalho no último ano (de 5 a 9 anos de idade)
#V9001 - Trabalho (10 ou mais de idade)
#V1101 - Teve algum filho nascido vivo até a data de referência

In [48]:
nad15.V0405 = nad15.V0405.astype('category')
nad15.V0405.cat.categories = ('Sim','Nao','Não sabe')

nad15.V9001 = nad15.V9001.astype('category')
nad15.V9001.cat.categories = ('Sim','Nao')



nad15=nad15.rename(columns={'V8005':'Idade'})
nad15=nad15.rename(columns={'V0405':'Tem mãe viva'})
nad15=nad15.rename(columns={'V4803':'Anos de estudo'})
nad15=nad15.rename(columns={'V4745':'Nivel mais alto de instrução'})
nad15=nad15.rename(columns={'V0602':'Frequenta escola ou creche'})
nad15=nad15.rename(columns={'V4743':'Faixa de renda mensal p.c.'})
nad15=nad15.rename(columns={'V0701':'Trabalhou no último ano (crianças de 5 a 9)'})
nad15=nad15.rename(columns={'V9001':'Trabalhou no último ano (crianças acima de 10)'})
nad15=nad15.rename(columns={'V1101':'Teve algum filho nascido vivo'})



nad15.head()

,Tem mãe viva,V4838,Anos de estudo,Nivel mais alto de instrução,Faixa de renda mensal p.c.,Frequenta escola ou creche,Trabalhou no último ano (crianças de 5 a 9),Trabalhou no último ano (crianças acima de 10),Teve algum filho nascido vivo
4,Sim,2,4,2,4.0,2,NaN,Nao,3.0
5,Sim,2,2,2,4.0,2,3.0,NaN,NaN
6,Sim,1,1,1,4.0,2,NaN,NaN,NaN
15,Sim,1,1,1,4.0,4,NaN,NaN,NaN
18,Sim,4,9,3,4.0,4,NaN,Sim,NaN

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!